# The timezone identifier to use.
#   Reference: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
#
TZ_ID='America/New_York'

# ----------------------------------------
#                PostgreSQL
# ----------------------------------------

# The postgres version tag to be used. 
#   Reference: https://hub.docker.com/_/postgres
#
# Note: In development, this is often set to 'latest'
POSTGRES_VERSION_TAG='latest'

# The name of the databsae to be used by wikijs
POSTGRES_DATABASE='npm_db'

# The PostgreSQL username and password to be used by wikijs
POSTGRES_USER='npm'
POSTGRES_PASSWORD='<postgress_password>'

# THe external port number that PostgreSQL will accept connections from
POSTGRES_PORT=5432


# ----------------------------------------
#            Ngnix Proxy Manager
# ----------------------------------------

# The npm version tag to be used. 
#   Reference: https://hub.docker.com/r/jc21/nginx-proxy-manager/tags
#
# Note: In development, this is often set to 'latest'
NPM_VERSION_TAG='latest'
